<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Cybersecurity eBook</title>
  </head>
  <body class="bg-primary text-white">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <h3 class="d-inline align-middle">DevOpSec</h3>
        </a>
      </div>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
