<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Cybersecurity eBook
      </h1>
      <p class="lead">Learn cybersecurity the dangerous way</p>
    </div>
    <div class="col-md-6">
      <img src="/img/CyberwarOps-cover-image.png" alt="ebook image" class="img-fluid">
    </div>
  </div>
</section>
